<launch>
	<group ns='motors'>
		<node name="HEAD" pkg="hero" type="motor_controller.py" output='screen'>
			<rosparam param='pins'>[0, 1]</rosparam>
			<rosparam param='limits'>[0, 1024]</rosparam>
			<param name='threshold' value='5'/>
		</node>

		<node name="LARM" pkg="hero" type="motor_controller.py" output='screen'>
			<rosparam param='pins'>[2, 3]</rosparam>
			<rosparam param='limits'>[0, 1024]</rosparam>
			<param name='threshold' value='5'/>
		</node>
		<node name="RARM" pkg="hero" type="motor_controller.py" output='screen'>
			<rosparam param='pins'>[4, 5]</rosparam>
			<rosparam param='limits'>[0, 1024]</rosparam>
			<param name='threshold' value='5'/>
		</node>
		<node name="BLINK" pkg="hero" type="motor_controller.py" output='screen'>
			<rosparam param='pins'>[6, 7]</rosparam>
			<rosparam param='limits'>[0, 1024]</rosparam>
			<param name='threshold' value='5'/>
		</node>
	</group>
</launch>